---
layout: page_default
title: 'List of Content Warnings'
---

{% include latest-news-bar.html %}

<div class="table-of-contents">
<div class="wrapper">

<ul>
<li class='ep-sort'><a href="{{ site.baseurl }}/index_reverse.html">⇅</a> <a href="{{ site.baseurl }}/index_reverse.html">Reverse Sort</a> <a href="{{ site.baseurl }}/index_reverse.html">⇅</a></li>

{% assign episodes = site.posts | where: "categories", "episode" | reverse %}
{% for post in episodes %}
  <li>
    <div class='ep-left'>
      <a class='ep-number' href="{{ post.url | prepend: site.baseurl }}">{{ post.episode_number | escape }}</a> 
      <a class='ep-title' href="{{ post.url | prepend: site.baseurl }}">{{ post.episode_title | escape }}</a>
    </div>

    <div class='ep-right'>
      <a class='ep-cw' href="{{ post.url | prepend: site.baseurl }}">{{ post.content_warnings | escape }}</a>
    </div>
  </li>
{% endfor %}
  
{% assign episodes = site.posts | where: "categories", "incomplete" | reverse %}
{% for post in episodes %}
  <li>
    <div class='ep-left'>
      <a class='ep-number' href="{{ post.url | prepend: site.baseurl }}">{{ post.episode_number | escape }}</a> 
      <a class='ep-title' href="{{ post.url | prepend: site.baseurl }}">{{ post.episode_title | escape }}</a>
    </div>

    <div class='ep-right'>
      <a class='ep-cw' href="{{ post.url | prepend: site.baseurl }}">{{ post.content_warnings | escape }}</a>
    </div>
  </li>
{% endfor %}
</ul>

</div>
</div>


<div class="table-of-contents">
<div class="wrapper">

<ul>
{% assign episodes = site.posts | where: "categories", "special" | reverse %}
{% for post in episodes %}
  <li>
    <div class='ep-left'>
      <a class='ep-number' href="{{ post.url | prepend: site.baseurl }}">{{ post.episode_number | escape }}</a> 
      <a class='ep-title' href="{{ post.url | prepend: site.baseurl }}">{{ post.episode_title | escape }}</a>
    </div>

    <div class='ep-right'>
      <a class='ep-cw' href="{{ post.url | prepend: site.baseurl }}">{{ post.content_warnings | escape }}</a>
    </div>
  </li>
{% endfor %}
</ul>

</div>
</div>
